@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

/* regole dinamiche */
.active{
    background-color: #e9ebeb;
}

.myMessage{
    background-color: #d5f9ba;
    margin-left: calc(100% - 250px);
}

.contactMessage{
    background-color: white;
}

.displayNone{
    display: none;
}
/* fine regole dinamiche */

/* regole #app */
#app{
    width: 100vw;
    height: 100vh;

    background-color: #dbdbd2;

    position: relative;
}

#app .bgLine{
    height: 115px;
    width: 100%;

    background-color: #009688;
}
/* fine regole #app */

/* regole .wrapper */
.wrapper{
    width: 100%;
    height: 100%;
    max-width: 1230px;
    max-height: 740px;

    
    background-color: #d1c3b5;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
}

/* regole .wrapper aside */
.wrapper aside{
    width: 35%;
    min-width: 280px;
    height: 100%;

    background-color: white;
}

.wrapper main{
    width: 65%;
    height: 100%;

    position: relative;
}

/* uso uno pseudo-element per evitare di dare opacità < 1 al main, perchè renderebbe trasparenti anche tutti i filgi del main */
.wrapper main::after {
    content: "";
    background: url("../img/message_background.jpg");
    background-position: center;
    background-size: 55%;
    opacity: 0.4;
    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

header{
    width: 100%;
    height: 55px;

    background-color: #eaeaea;

    display: flex;
    align-items: center;

    padding: 0 10px;
}

header .profile{
    width: calc(100% - 81px);
}

header .profile img{
    height: 40px;
    width: 40px;

    border-radius: 50%;

    object-fit: contain;
    vertical-align: middle;

    background-color: white;
}

header .profile span{
    font-size: 14px;
    vertical-align: middle;
}

header .icons i{
    color: #b1b1b1;
    font-size: 18px;
    margin-right: 10px;
}

aside .notifications{
    height: 65px;

    background-color: #8ad3f1;

    display: flex;
    align-items: center;

    padding: 0 15px;
}

aside .notifications .bell{
    height: 40px;
    width: 40px;

    border-radius: 50%;

    background-color: white;
    color: #8ad3f1;
    filter: opacity(0.9);

    display: flex;
    align-items: center;
    justify-content: center;
}

aside .notifications .text{
    font-size: 13px;
    margin-left: 10px;
}

aside .notifications a{
    font-size: 12px;
    color: #5c899c;

    display: block;
}

aside nav{
    height: 40px;
    padding: 8px;

    background-color: #fafafa;
}

aside nav div{
    height: 100%;
    width: 100%;

    background-color: white;
    border: 1px solid rgba(240, 240, 240, 0.623);

    padding: 0 20px;
}

aside nav div i{
    color: #b1b1b1;
    font-size: 13px;
}

aside nav div input{
    height: 100%;
    width: calc(100% - 37px);

    margin-left: 20px;

    border: none;
}

aside .lastChats{
    max-height: calc(100% - 160px);

    background-color: white;

    overflow: auto;
}

aside .lastChats .contact{
    height: 65px;
    
    padding: 5px 0;

    position: relative;
}

aside .lastChats .contact img{
    margin-left: 15px;

    height: 50px;
    width: 50px;

    border-radius: 50%;

    object-fit: contain;
    vertical-align: middle;

    background-color: white;
}

aside .lastChats .contact .text{
    font-size: 15px;

    margin-left: 15px;

    display: inline-block;
}

aside .lastChats .contact .text .lastMessage{
    font-size: 11px;
    color: #b6b9bb;
}

aside .lastChats .contact .lastMessageHour{
    font-size: 11px;
    color: #b6b9bb;

    position: absolute;
    top: 5px;
    right: 20px;
}

/* fine regole .wrapper aside */

/* regole main */

/* regole main header */
main header{
    border-left: 1px solid #d6d6d6;
}

main header .profile img{
    vertical-align: top;

    margin-right: 10px;
}

main header .text{
    display: inline-block;
}

main header .text .lastAccessDate{
    color: #6b7376;
    font-size: 12px;
}
/* fine regole main header */

/* regole main .chatBox */
main .chatBox{
    height: calc(100% - 110px);

    padding: 40px 75px;

    overflow: auto;
}

main .chatBox .message{
    border-radius: 10px;

    width: 250px;

    padding: 12px 15px;
    margin-bottom: 10px;

    position: relative;
}

main .chatBox .message span{
    font-size: 12px;
    vertical-align: top;
}

main .chatBox .message .messageHour{
    font-size: 10px;
    color: #b6b9bb;

    position: absolute;
    right: 5px;
    bottom: 5px;
}

main .chatBox .message i{
    color: #b6b9bb;

    position: absolute;
    right: 15px;
    bottom: 15px;

    display: none;
}

main .chatBox .message:hover i{
    display: block;
}

main .chatBox .message:hover .messageMenu{
    display: block;
}

main .chatBox .messageMenu{
    position: absolute;
    right: 15px;
    bottom: -125px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    z-index: 100;

    display: none;
}

main .chatBox .messageMenu .info, main .chatBox .messageMenu .deleteMessage{
    background-color: white;

    width: 200px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: rgb(100, 100, 100);
}

main .chatBox .messageMenu .info:hover, main .chatBox .messageMenu .deleteMessage:hover{
    background-color: rgb(228, 228, 228);
}
/* fine regole main .chatBox */


/* regole main footer */
main footer{
    height: 55px;

    background-color: #f3eeea;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: #6b7376;
    font-size: 18px;
}

main footer input{
    width: calc(100% - 150px);
    height: 40px;

    border: none;
    border-radius: 5px;

    padding: 0 12px;
}
/* fine regole main footer */

/* fine regole main */

/* fine regole .wrapper */