<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <div class="bgLine"></div>

        <div class="wrapper">
            <aside>
                <header>
                    <div class="profile">
                        <img src="img/profile_pic_1.png" alt="">

                        <span>Paolo</span>
                    </div>

                    <div class="icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </header>

                <div class="notifications">
                    <div class="bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>

                    <div class="text">
                        <span>
                            Ricevi notifiche nuovi messaggi
                        </span>
                        
                        <a href="">Attiva notifiche desktop</a>
                    </div>
                </div>

                <nav>
                    <div>
                        <i class="fas fa-search"></i>

                        <input @keyup="showResearchedContacts" v-model="contactResearch" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </nav>
                
                <div class="lastChats">
                    <div @click="showMessages(i)" v-for="(contact, i) in contacts" class="contact"  :class="[(i === activeContact) ? 'active' : '', (contact.visible === false) ? 'displayNone' : '']">
                        <img :src="contact.avatar" alt="contact.name">

                        <div class="text">
                            <span>
                                {{contact.name}}
                            </span>
                            
                            <div class="lastMessage">
                                {{contact.messages[contact.messages.length - 1].message}}
                            </div>
                        </div>

                        <div class="lastMessageHour">
                            {{contact.messages[contact.messages.length - 1].date[11]}}
                            {{contact.messages[contact.messages.length - 1].date[12]}}
                            {{contact.messages[contact.messages.length - 1].date[13]}}
                            {{contact.messages[contact.messages.length - 1].date[14]}}
                            {{contact.messages[contact.messages.length - 1].date[15]}}
                        </div>
                    </div>
                </div>
            </aside>

            <main>
                <header>
                    <div class="profile">
                        <img :src="contacts[activeContact].avatar" alt="contacts[activeContact].name">

                        <div class="text">
                            <span>{{contacts[activeContact].name}}</span>
                        
                            <div class="lastAccessDate">
                                Ultimo accesso oggi alle 

                                {{contacts[activeContact].messages[contacts[activeContact].messages.length - 1].date[11]}}
                                {{contacts[activeContact].messages[contacts[activeContact].messages.length - 1].date[12]}}
                                {{contacts[activeContact].messages[contacts[activeContact].messages.length - 1].date[13]}}
                                {{contacts[activeContact].messages[contacts[activeContact].messages.length - 1].date[14]}}
                                {{contacts[activeContact].messages[contacts[activeContact].messages.length - 1].date[15]}}
                            </div>
                        </div>
                    </div>

                    <div class="icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </header>

                <div class="chatBox">
                    <div v-for="(message, i) in contacts[activeContact].messages" class="message" :class="message.status === 'sent' ? 'myMessage' : 'contactMessage'">
                        <span>{{message.message}}</span>

                        <div class="messageHour">
                            {{contacts[activeContact].messages[i].date[11]}}
                            {{contacts[activeContact].messages[i].date[12]}}
                            {{contacts[activeContact].messages[i].date[13]}}
                            {{contacts[activeContact].messages[i].date[14]}}
                            {{contacts[activeContact].messages[i].date[15]}}
                        </div>

                        <i class="fas fa-chevron-down"></i>

                        <div class="messageMenu">
                            <div class="info">Message info</div>
    
                            <div @click="deleteMessage(i)" class="deleteMessage">Delete message</div>
                        </div>
                    </div>
                </div>

                <footer>
                    <i class="fas fa-smile"></i>

                    <input @keyup.enter="addNewMessage" v-model="newMessageText" type="text" placeholder="Scrivi un messaggio">

                    <i class="fas fa-microphone"></i>
                </footer>
            </main>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>